@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Pacifico&family=Praise&display=swap');
.form-signup{
    background-image: url("../../images/backFlou.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}

.form{
    width: 50%;
    display: flex;
}
.form .infos{
    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 9;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(231, 57, 246);
    width:1000px;
    height: 450px;
    
}
.form h4{
    margin-top: 20px;
    width: 300px;
    margin-left:150px;
    color:white;
    font-family: 'Merriweather', serif;
   
}
.form p{
    
    margin-left:20px;
    margin-top: 20px;
    color:rgb(47, 44, 44); 
    font-family: 'Merriweather', serif;
   

    
}
.form h5{
  font-family: 'Merriweather', serif;
    margin-top: 205px;
    width: 200px;
    margin-left:180px;
    /* color:rgb(230, 123, 123);
    font-family: 'Pacifico', cursive; */

    
}
/* .form .SignUp{
    margin-left: 20px;
} */

.SignUp{
    margin-top: 20px;
}
.SignUp input{
    
        border: none;
        border-bottom: solid 1px #770d72;
        transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #770d72 4%);
        /* background-position: -200px 0;
        background-size: 200px 100%;
        background-repeat: no-repeat; */
        color: #0e6252;
      
}
.login-button{
  margin-left: 140px;
  margin-top: 16px;
}
.button2 {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 6px;
    color: #770d72;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-left: 50px;
    /* font-family: "Roboto", sans-serif; */
    filter: hue-rotate(0deg);
    border: 2px solid #770d72;
    transition: all 0.1s linear;
  }
  .button2:hover {
    border: 1px solid transparent;
  }
  .button2:hover span {
    position: absolute;
    display: block;
  }
  .button2:hover span:nth-child(1) {
    filter: hue-rotate(0deg);
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #3a86ff);
    animation: animate1 1s linear infinite;
  }
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%, 100% {
      left: 100%;
    }
  }
  .button2:hover span:nth-child(2) {
    filter: hue-rotate(60deg);
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #3a86ff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%, 100% {
      top: 100%;
    }
  }
  .button2:hover span:nth-child(3) {
    filter: hue-rotate(120deg);
    bottom: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(270deg, transparent, #3a86ff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  @keyframes animate3 {
    0% {
      right: -100%;
      height: 3px;
    }
    50%, 100% {
      height: 2px;
      right: 100%;
    }
  }
  .button2:hover span:nth-child(4) {
    filter: hue-rotate(300deg);
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #3a86ff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%, 100% {
      bottom: 100%;
    }
  }
